<h2>Your Boats</h2>

<div class="mooringtable">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Type</th>
        <th>Length</th>
      </tr>
    </thead>
    <tbody>
      <% @boats.each do |boat| %>
        <tr>
          <td><%= link_to boat.type_of, boats_path(boat) %></td>
          <td><%= boat.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
